src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/plexe_catch/out
subprojects/plexe_catch/run
subprojects/plexe_catch/src/*.dll
subprojects/plexe_catch/src/*.dylib
subprojects/plexe_catch/src/*.so
subprojects/plexe_catch/src/Makefile
subprojects/plexe_catch/src/plexe_catch
subprojects/plexe_catch/src/plexe_catch_dbg
