src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/plexe_catch/src/plexe_catch
subprojects/plexe_catch/src/plexe_catch_dbg

subprojects/**/out
subprojects/**/run
subprojects/**/src/*.dll
subprojects/**/src/*.dylib
subprojects/**/src/*.so
subprojects/**/src/Makefile
subprojects/**/*_m.h
subprojects/**/*_m.cc
subprojects/**/examples/**/results
subprojects/**/examples/**/.tkenvrc
subprojects/**/examples/**/.qtenvrc
subprojects/**/examples/**/.cmdenv-log
subprojects/**/examples/**/valgrind.out
